body {background-color: lightgray;}
h1   {color: black;}
p    {color: white;}

.p-5 {
  padding: $spacer * 3 !important;
}

p.ex1 {
    margin-bottom: 5em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #232323;
    color: white;
    text-align: center;
}

.content-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content-container {
    position: relative;
    padding-bottom: 2rem;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.center {
  margin: auto;
  width: 90%;
  padding: 10%;
}

.card-text {
  font-size: 24px;
  color: whitesmoke;
}

/* This works apparently */
.card {
  width: 50%; 
  background-color: gray; 
  padding: 3rem; 
  float: right;
}

/* doesn't work and i dont know why */
.project {
  background-color: #2A3439;
  margin: 20px;
  padding: 20px;

}

